<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Генератор Проектов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-fluid mt-4">
        <div class="mx-auto" style="width: 500px; text-align: center;">
            <h2 class="mb-4">ГЕНЕРАТОР ПРОЕКТОВ</h2>
        </div>
        <div class="form-group">
            <label for="projectName">Название проекта:</label>
            <input class="form-control" type="text" id="projectName" name="projectName" disabled>
        </div>
        <div class="btn-toolbar mb-3 d-flex justify-content-between">
            <div class="btn-group">
                <button id="newRowButton" class="btn btn-primary mr-2">Новая строка</button>
                <button id="newColumnButton" class="btn btn-primary mr-2">Новый столбец</button>
                <button id="deleteButton" class="btn btn-danger" disabled>Удалить</button>
            </div>
            <div>
                <button id="createProjectBtn" class="btn btn-success justify-content-end" disabled>Создать Проект</button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="selectionMatrix" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Объект проектирования</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    
        <!-- Modal для добавления строк -->
        <div class="modal" id="addRowModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Добавить строки</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="dropdown">
                                <!-- <label for="customerDropdown">Выберите заказчика:</label> -->
                                <!-- <select class="form-control" id="customerDropdown" name="customerDropdown"></select> -->
                                <label for="objectDropdown">Выберите объекты проектирования:</label>
                                <select class="form-control" id="objectDropdown" multiple></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="addRowConfirm">Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal для добавления столбцов -->
        <div class="modal" id="addColumnModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addColumnModalLabel">Добавить столбцы</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="dropdown">
                                <label for="markDropdown">Выберите марки:</label>
                                <select id="markDropdown" class="form-control"></select>
                            </div>
                            <label for="markNumberDropdown">Номер раздела:</label>
                            <select class="form-control" id="markNumberDropdown">
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="addColumnConfirm">Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модал Предупреждение -->
        <div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="deleteWarningModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтверждение</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning">
                            Вы уверены, что хотите удалить выбранные элементы?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger" id="confirmDelete">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модал алертов -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="alertMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модал подтверждение -->
        <div class="modal fade" id="createProjectConfirmModal" tabindex="-1" role="dialog" aria-labelledby="createProjectConfirmLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createProjectConfirmLabel">Подтверждение</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning">
                            Вы уверены, что хотите создать/изменить структуру по этим данным?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-success" id="confirmCreateProject">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
    <script>const APP_CONFIG = {PREFIX: "{{ app_prefix }}"}; const PROJECT_ID = "{{ project_id }}"</script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>